/***
 *	Tags
 */

html,
body {
	margin: 0;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.65rem;
}

code {
	background-color: darkslategrey;
	padding: 0.15rem 0.5rem;
	border-radius: 0.25rem;
	color: white;
	white-space: nowrap;
	font-weight: bold;
}

main {
	margin: auto;
	width: 35rem;
}

h1 {
	padding-top: 8rem;
	margin-top: 0;
}

h2 {
	padding-top: 8rem;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: darkslategray;
}

img {
	max-height: 12rem;
	max-width: 12rem;
	float: right;
	margin: 2rem;
}

/* Navigation */

nav {
	position: fixed;
	width: 100vw;
}

nav ul {
	margin: 0;
	list-style: none;
	background-color: lightgray;
	line-height: 2rem;
	padding: 0;
}
nav > ul > li > a,
nav > ul > li {
	display: inline-block;
}
nav > ul > li > a {
	padding: 2rem;
	width: 6rem;
	text-align: center;
}

nav ul ul {
	display: none;
}

nav ul li:hover > a {
	background-color: darkslategray;
	color: white;
}

nav ul li:hover ul {
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
}

nav a {
	font-weight: normal;
	font-style: normal;
}

nav ul li ul li a {
	display: block;
	padding: 0.75rem 2rem;
	width: 6rem;
}

/* Footer */

footer {
	background-color: darkslategray;
	color: white;
	margin-top: 6rem;
	padding: 4rem;
	text-align: center;
}

footer a {
	color: white;
}

footer a:hover {
	color: lightgray;
}

/***
 *	classes
 */

.resources {
	background-color: lightgray;
	padding: 2rem;
}

.resources h3 {
	margin-top: 0;
}
